/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  background-color: #fff;
}

.page{
  width: 100vw;
  height: 100vh;

  display: grid;

  grid-template-columns: 1fr 1fr 1fr;

  grid-template-rows: 50px 1fr 1fr 100px;
}

.taskContainer {
  /* float: left; */
  /* height: 100vh;
  width: 720px; */

  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  height: max-content;
  overflow-x: hidden;
  overflow-y: auto;
}

.goalsContainer {
  grid-column: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  width: 25rem;
  background: red;
  display: flex;
  justify-content: center;

}

.headerContainer {
  border: solid 2px black;

  grid-column-start: 1;
  grid-column-end: 4;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerEl{
  margin: 2px;
}

.footerContainer{
  border: 1px black;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row: 4;
}

h1 {
  font-size: 9px;
  margin-top: -82px;
  margin-bottom: 0px;
  width: 30px;
  margin-right: 20px;
  background: white;
}

.box {
  /* flex-basis: 100px; */
  /* height: 100vh; */
  width: 50rem;
  border: solid 3px #ccc;
  margin: 10px;
  grid-column: 2;

   

  /* align items in the box */
  display: flex;
  align-items: center;
  justify-content: center;

}

.tasks {
  height: 75px;
  width: 75px;
  background-color: #F0DB4F;
  border: 1px double white;

}

.drop-targets {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  margin: 20px 0;
}

.drag-over {
  border: dashed 3px red;
}

.hide {
  display: none;
}
